/ExercicioEstruturaRepeticao/.gradle/
/ExercicioEstruturaRepeticao/build/
/Exercicio22/.gradle/
/Exercicio22/build/
/FolhaPagamento/.gradle/
/FolhaPagamento/build/
/InverteValor/.gradle/
/InverteValor/build/
/ConvesorMoeda/.gradle/
/ConvesorMoeda/build/
/JurosMensal/.gradle/
/CalculoJurosMensal/.gradle/
/CalculoJurosMensal/build/
/CalculoPrecoProduto/.gradle/
/CalculoPrecoProduto/build/
/CalculoPreçoAutomovel/.gradle/
/CalculoPreçoAutomovel/build/
/CalculoPecoAutomovel/.gradle/
/CalculoPrecoAutomovel/.gradle/
/CalculoPrecoAutomovel/build/
/Media/.gradle/
/Media/build/
/Contador/.gradle/
/Contador/build/
/MostradorMaiorIdade/.gradle/
/MostradorMaiorIdade/build/
/MostradorSexo/.gradle/
/MostradorSexo/build/
/ConcessionariaVeiculos/.gradle/
/ConcessionariaVeiculos/build/
/Alistamento/.gradle/
/Alistamento/build/
/Comparador/.gradle/
/Comparador/build/
/ComparadorIgualdade/.gradle/
/ComparadorIgualdade/build/
/ConverteExtenso/.gradle/
/ConverteExtenso/build/
/VendaVeiculos/.gradle/
/VendaVeiculos/build/
/ReajusteSalario/.gradle/
/ReajusteSalario/build/
/IdentificaMes/.gradle/
/IdentificaMes/build/
/OrdemNumeros/.gradle/
/OrdemNumeros/build/
/OperacaoAritmetica/.gradle/
/OperacaoAritmetica/build/
/IdentificaTriangulo/.gradle/
/IdentificaTriangulo/build/
/CalculaSalario/.gradle/
/CalculaSalario/build/
/CategoriaNadador/.gradle/
/CategoriaNadador/build/
/CalculoContaLuz/.gradle/
/CalculoContaLuz/build/
/gradleproject1/.gradle/
/teste/.gradle/
/teste/build/
/ProjetosSimples/CalculoContaLuz/build/
/ProjetosSimples/VendaVeiculos/build/
/ProjetosSimples/OperacaoAritmetica/build/
/ProjetosPOO/CalculoIMC/.gradle/
/ProjetosPOO/CalculoIMC/build/
/ProjetosPOO/PessoaPOO/.gradle/
/ProjetosPOO/PessoaPOO/build/
/ProjetosPOO/ContaPOO/.gradle/
/ProjetosPOO/ContaPOO/build/
